.box { 
    border:1px solid #ccc;
    padding:5px;
    height:151px;
    width:195px;
}
.overlay {  
    background:rgba(0, 0, 0, .75);
    text-align:center;
    opacity:0;    
    width:100%;
    height:100%; 
   
    /*
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;*/
}
.box:hover {
    border:1px solid #555;
    border-radius:5px;
    /*-webkit-transition: width 2s; /* Safari */
    /*-webkit-transition-timing-function: linear; /* Safari */
   /* transition: width 2s;/*
    transition-timing-function: linear;*/

}
.box:hover .overlay {
    opacity:1;
    transition:top 0.2s ease-out 0s;
}
.plus-circle {
    position:relative;
    top:60px;
    color:red;
    text-align:center;
}
