.story li {
    list-style-type: none;
}
/*
.story li {
    cursor: pointer;
    padding: 5px;
}*/
.story:hover .overlay {
    top: -288px;
}
.story:hover .headline {
    top: -185px;
}
.story:hover .plus {
    opacity: 0;
}
.story > div {
    border: 1px solid #bababa;
    min-height: 285px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.story .overlay {
    background-color: rgba(7, 7, 22, 0.7);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: top 0.2s ease-out 0s;
    width: 100%;
    z-index: 3;
}
.story .title-box {
    display: table;
    height: 285px;
    position: absolute;
    width: 100%;
    z-index: 4;
}
.story .headline {
    color: #fff;
    display: table-cell;
    position: relative;
    text-align: center;
    top: 0;
    transition: top 0.2s ease-out 0s;
    vertical-align: middle;
}
.story .plus {
    background-color: #000;
    border-radius: 20px;
    color: #1fbad6;
    display: block;
    left: 50%;
    margin-left: -13px;
    opacity: 0.8;
    padding: 5px;
    position: absolute;
    top: 200px;
}
